<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.css">
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-light bg-light"><a class="navbar-brand" href="/">BlogApi </a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/posts/new_post">Write Post</a></li>
        <li class="nav-item"><a class="nav-link" href="/posts">My Posts</a></li>
        <li class="nav-item"><a class="nav-link" href="/register">Регистрация</a></li>
      </ul>
    </nav>
    <div class="container">
      <div class="mt-1">
      </div>
    </div>
  </body>
</html>