doctype html
html
  head
    title Blog
    link(rel='stylesheet' href='/assets/bootstrap/dist/css/bootstrap.css')
  body
    nav.navbar.navbar-expand.navbar-light.bg-light
      a.navbar-brand(href="/") BlogApi 
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href="/posts/new_post") Write Post
        li.nav-item
          a.nav-link(href="/posts") My Posts
        li.nav-item
          a.nav-link(href="register") Регистрация
    .container
      .mt-1
        block content
