doctype html
html
  head
    title Регистрация пользователя
    script(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
  body
    h1 Регистрация пользователя

    // Условие для отображения сообщения об успешной регистрации
    if registered
      p Регистрация прошла успешно!

    // Условие для отображения сообщения о существующем пользователе
    if userAlreadyExists
      p Пользователь с таким логином уже зарегистрирован.

    form(action="/register", method="POST")
      label(for="name") Имя пользователя:
      input(type="text", name="name", required)
      br
      label(for="login") Логин:
      input(type="text", name="login", required)
      br
      label(for="password") Пароль:
      input(type="password", name="password", required)
      br
      button(type="submit", class="btn btn-primary") Зарегистрироваться 

    script(src="/bootstrap/js/bootstrap.min.js")
